.idea
target/
*.iml
frontend/*.sw*
frontend/*~
frontend/build/
frontend/bin/
frontend/node_modules/
frontend/vendor/
subnets/src/main/webapp/partials/concat*
frontend/src/partials/concat*

subnets/src/main/webapp/fonts/glyphicons-halflings-regular.woff2
subnets/src/main/webapp/fonts/glyphicons-halflings-regular.woff
subnets/src/main/webapp/fonts/glyphicons-halflings-regular.eot
subnets/src/main/webapp/fonts/glyphicons-halflings-regular.svg
subnets/src/main/webapp/fonts/glyphicons-halflings-regular.ttf