<nets-header active-url="/"></nets-header>
<div class="container">
    <div class="jumbotron">
        <div class="row">

            <form name="registerForm">
                <div class="col-md-4">
                    <label for="sel1">Select a group:</label>
                    <select ng-model="selected" class="form-control" id="sel1" required="">
                        <option ng-repeat="nodeId in categories" value={{nodeId.type}}>{{nodeId.type}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="in1">Networks:</label>
                    <input type="text" class="form-control" id="in1" ng-model="networkIP" name="networkIP"
                           required=""/>
                </div>

                <div class="col-md-1">
                    <label for="in2">Slash:</label>
                    <input type="text" class="form-control" id="in2" name="slash" ng-model="slash" required=""/>
                </div>
                <div class="col-md-3" style="margin-top: 25px">
                    <button class="btn btn-primary "
                            ng-click="registerSubnet()" ng-disabled="registerForm.$invalid">
                        Register
                    </button>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6">
                <span class="label label-info">{{error}}</span>
            </div>
        </div>
    </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom"></div>