<nets-header active-url="Pools"></nets-header>

<div class="container">

    <h2>Networks</h2>
    <hr/>

    <div class="panel panel-success" ng-show="networkTree.currentNode">
        <form class="navbar-form" name="descriptionForm">
            <div class="panel-heading">Enter description
                <div class="panel-body">
                    <input class="form-control" type="text" placeholder="description" ng-model="description"
                           required>
                    <button class="form-control btn-primary" ng-disabled="descriptionForm.$invalid"
                            ng-click="editDescription(description)">Submit
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="panel panel-default"
         data-angular-treeview="true"
         data-tree-subnetId="networkTree"
         data-node-subnetId="subnetId"
         data-tree-model="networkModel"
            >
    </div>
    <a href=""> </a>
</div>