<nets-header active-url="/"></nets-header>
<div class="row">
    <div class="col-md-3 col-md-offset-8">
        <a href="" class="btn btn-success navbar-right">AddNode</a>
        <a type="button" class="btn btn-success navbar-right" data-toggle="modal"
           data-target="#exampleModal">AddSubnet</a>
    </div>
</div>

<!--To remove -this simulates the tree final node-->

<a href="" ng-click="handleSubnet('559b6543cc795e0bff680138')">0.0.0.0/30</a>
<br/>


<!---->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New Subnet</h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <form name="registerForm">

                        <div class="col-md-5">
                            <label for="in1">Network IP:</label>
                            <input type="text" class="form-control" id="in1" ng-model="networkIP" name="networkIP"
                                   required=""/>
                        </div>

                        <div class="col-md-2">
                            <label for="in2">Slash:</label>
                            <input type="text" class="form-control" id="in2" name="slash" ng-model="slash" required=""/>
                        </div>
                        <div class="col-md-3" style="margin-top: 25px">
                            <button class="btn btn-success navbar-right "
                                    ng-click="registerSubnet(132)" ng-disabled="registerForm.$invalid">
                                Register
                            </button>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <div class="alert alert-success" role="alert" ng-show="responce.length">
                        {{responce}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom"></div>
