<nets-header active-url="Category"></nets-header>

<div class="container">

    <h2>Manage categories</h2>
    <hr/>

    <div class="panel panel-primary">
        <div class="panel-heading"><b>Categories</b>

            <div class="btn-group btn-group-xs pull-right">
                <a href="#/nodeId/new" class="btn btn-default btn-xs">Add</a>
            </div>
            <div class="clearfix"></div>
        </div>

        <table class="table  table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody ng-repeat="nodeId in categories">
            <tr>
                <td><b>{{$index +1}}</b></td>
                <td>{{nodeId.type}}</td>
                <td>
                    <button class="btn btn-default btn-xs" ng-click="delete(nodeId)">x</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>