<nets-header active-url="Category"></nets-header>

<div class="container">

    <h2>New nodeId</h2>
    <hr/>

    <div class="row well">

        <div class="col-md-6">
            <form class="navbar-form " name="categoryForm">
                <label>Name</label>
                <input class="form-control" type="text" placeholder="Enter nodeId"
                       ng-model="nodeId" required>
                <button class="btn btn-primary" ng-disabled="!categoryForm.$valid"
                        ng-click="register(nodeId)"> Submit
                </button>
            </form>
        </div>

        <div class="col-md-6" ng-show="message">
            <label class="label label-danger">{{message}}</label>
        </div>
    </div>
</div>